$gradient: linear-gradient(to right, #00f260, #0575e6);
$gradient-header: linear-gradient(
  to right,
  rgba(0, 242, 96, 0.2),
  rgba(0, 242, 96, 0.2)
);
$gradient-text: linear-gradient(to right, #076585, #fff);
